.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.not-found-img {
  width: 130px;
}
@media screen and (min-width: 768px) {
  .not-found-img {
    width: 180px;
  }
}
.not-found-heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #1e293b;
}
.not-found-description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  margin-top: 0px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  color: #475569;
}
.home-page-button {
  cursor: pointer;
  outline: none;
  width: 98px;
  height: 32px;
  background: #f7931e;
  border-radius: 8px;
  border: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .not-found-heading {
    font-size: 32px;
  }
  .not-found-description {
    font-size: 18px;
    line-height: 30px;
    width: 600px;
  }
  .home-page-button {
    font-size: 16px;
    width: 123px;
    height: 48px;
  }
}
